<a
  href="/tags?={%TAG%}"
  class="
    m-1
    bg-green-200
    hover:bg-green-600
    rounded-full
    px-2
    leading-loose
    cursor-pointer
    scale-90
    transform
  "
  >{%TAG-NAME%}</a
>
<a
  href="/tags?={%TAG%}"
  class="
    m-1
    bg-green-200
    hover:bg-green-600
    rounded-full
    px-2
    leading-loose
    cursor-pointer
    scale-90
    transform
  "
  >{%TAG-NAME%}</a
>
<a
  href="/tags?={%TAG%}"
  class="
    m-1
    bg-green-200
    hover:bg-green-600
    rounded-full
    px-2
    leading-loose
    cursor-pointer
    scale-90
    transform
  "
  >{%TAG-NAME%}</a
>
